<form
nz-form
nzLayout="vertical"
[formGroup]="newPasswordForm.formData"
(submit)="newPasswordForm.submit()"
>
<nz-form-item>
    <nz-form-label nzFor="password">
        {{ "actions.newpassword.form" | translate }}
    </nz-form-label>
    <nz-form-control
        [nzValidateStatus]="
        newPasswordForm.errors.password.status | async
        "
        [nzErrorTip]="newPasswordForm.errors.password.error | async"
    >
        <input
            type="password"
            formControlName="password"
            nz-input
            id="password"
        />
    </nz-form-control>
</nz-form-item>
<nz-form-item>
    <nz-form-control>
        <button
            type="submit"
            nz-button
            nzType="primary"
            [nzLoading]="submitting"
        >
            {{ "actions.newpassword.set" | translate }}
        </button>
    </nz-form-control>
</nz-form-item>
</form>
