<nz-layout style="max-height: inherit;">
    <nz-header class="header">
        <a [routerLink]="EAppRoutes.Home">
            <app-logo></app-logo>
        </a>

        <div class="header-controls">
            <app-header-controls></app-header-controls>
            <a class="enter-link" [routerLink]="EAppRoutes.Monitoring">
                {{ "components.mainLayout.enterButton" | translate }}
            </a>
        </div>
    </nz-header>

    <nz-content style="padding: 5px 5px; ">
        <div>
            <p>These Terms of Service constitute an agreement between you (hereinafter - the “User”) and
                voltaem.io (hereinafter - “VoltaicMining”) that applies to your use of this website, all
                services, products and content provided by VoltaicMining.
                By accepting these Terms of Service, you agree with and accept all pulicies published on this website.
                IF YOU DO NOT ACCEPT THESE TERMS OF SERVICE, DO NOT ACCESS THIS SITE AND DO NOT USE ANY OF
                VoltaicMining’S SERVICES, PRODUCTS AND CONTENT.
            </p>
            <p>
                1. SCOPE OF THE SERVICES
                The Services allow all Users of VoltaicMining to use its cryptocurrency mining pools at given fees or
                other services/products on this website.
            <p>
                2. USER’S RIGHTS AND RESPONSIBILITIES
                2.1. The User has the right to enter and use the site and services, as long as he/she agrees to and
                actually complies with the Terms of Service. By using the site, the User agrees to accept and comply
                with the terms and conditions stated herein.
                2.2. The User undertakes to read the entire Terms of Service carefully before using the site or any of
                the services provided by VoltaicMining.
                2.3. The User undertakes to comply with any and all applicable laws and regulations related to the use
                of the services.
                2.4. The User undertakes not to use the services to perform criminal activity of any sort, including but
                not limited to, money laundering, illegal gambling operations, financing terrorist organizations, or
                malicious hacking.
                2.5. Nothing in the Terms of Service excludes or limits the liability of the User for fraud, death or
                personal injury caused by its negligence, breach of terms implied by operation of law, or any other
                liability which may not by law be limited or excluded.
            </p>
            <p>
                3. VoltaicMining'S RIGHTS AND RESPONSIBILITIES
                3.1. VoltaicMining has the right to suspend User’s account in case of non-fulfilment or unduly
                fulfilment of the Terms of Service by the User.
                3.2. VoltaicMining undertakes to provide services with the utmost effort, due care and in accordance
                with these Terms of Service.
                3.3. To the extent permitted by law, VoltaicMining is not responsible for any damages, including but not
                limited to, loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data,
                indirect or consequential loss.
                3.4. VoltaicMining is not responsible for any malfunction, breakdown, delay or interruption of the
                Internet connection, or any reason why our site is unavailable at any given time.
            </p>
            <p>
                4. DECLARATION AND GUARANTEE CLAUSES
                4.1 The user shall be at least 18 years old; The content of this agreement will not be rejected by the
                laws of the country or region (jurisdiction) in which the user lives and holds his/her citizenship. The
                jurisdiction of the user allows the user to use our service and the user will abide by the relevant
                laws.
                4.2. User guarantees that he/she is not on any trade or economic sanctions or export control list and
                that is not a citizen of Sudan, Iran, north Korea, Syria or any other jurisdiction where services
                provided by VoltaicMining are restricted.
                4.3. The user is the legitimate owner of the virtual assets in the account, the source of the virtual
                assets is legal, and any digital currency withdrawal address provided by the user is the address owned
                by the user; Users will not use the service and the virtual assets related to our service for any
                illegal purpose.
            </p>
            <p>
                5. ACCOUNT SECURITY
                5.1. The User is responsible for maintaining the confidentiality of his/her account’s credentials,
                including, but not limited to a password, email, wallet address, balance, and of all activity made
                through the account.
                5.2. VoltaicMining personnel will never ask the User to disclose his/her password. Any message the User
                receives or website that he/she visits that asks for the password, other than the VoltaicMining site,
                should be reported to VoltaicMining.
            </p>
            <p>
                6. TERMINATION OF THE TERMS OF SERVICE
                6.1. The User may terminate the Terms of Service, and close his account at any time, following
                settlement of any pending transactions.
                6.2. The User also agrees that VoltaicMining may, by giving notice, at its sole discretion terminate
                his/her access to the site and to his/her account, including without limitation, our right to: limit,
                suspend or terminate the service and Users' accounts, prohibit access to the site and its content,
                services and tools, delay or remove hosted content, and take technical and legal steps to keep Users off
                the site if we think that they are creating problems or possible legal liabilities, infringing the
                intellectual property rights of third parties, or acting inconsistently with the letter or spirit of
                these Terms.
            </p>
            <p>
                7. LIMITATION OF LIABILITY
                In no event shall VoltaicMining, its officers, directors, employees, agents, and all third party service
                providers, be liable to you or any other person or entity for any direct, indirect, incidental, special,
                punitive, or consequential damages whatsoever, including any that may result from (i) the accuracy,
                completeness, or content of this site, (ii) the accuracy, completeness, or content of any sites linked
                (through hyperlinks, banner advertising or otherwise) to this site, (iii) the services found at this
                site or any sites linked (through hyperlinks, banner advertising or otherwise) to this site, (iv)
                personal injury or property damage of any nature whatsoever, (v) third-party conduct of any nature
                whatsoever, (vi) any unauthorized access to or use of our servers and/or any and all content, personal
                information, financial information or other information and data stored therein, (vii) any interruption
                or cessation of services to or from this site or any sites linked (through hyperlinks, banner
                advertising or otherwise) to this site, (viii) any viruses, worms, bugs, trojan horses, or the like,
                which may be transmitted to or from this site or any sites linked (through hyperlinks, banner
                advertising or otherwise) to this site, (ix) any user content or content that is defamatory, harassing,
                abusive, harmful to minors or any protected class, pornographic, “x-rated”, obscene or otherwise
                objectionable, and/ or (x) any loss or damage of any kind incurred as a result of your use of this site
                or the services found at this site, whether based on warranty, contract, tort, or any other legal or
                equitable theory, and whether or not VoltaicMining is advised of the possibility of such damages.
            </p>
            <p>
                8. MODIFICATIONS AND AMENDMENTS
                VoltaicMining reserves the right to amend or modify any portion of these Terms of Service at any time by
                publishing the revised version of the Terms of Service on the site. The changes will become effective,
                and shall be deemed accepted by the User, the first time the User uses the Services after the publishing
                of the revised Terms of Service and shall apply on a going-forward basis with respect to any activity
                initiated after the publishing.
            </p>
            <p>
                9. FORCE MAJEURE
                If VoltaicMining is unable to perform the Services outlined in the Terms of Service due to factors
                beyond its control including but not limited to an event of Force Majeure, change of law or change in
                sanctions policy VoltaicMining will not have any responsibility to the User with respect to the services
                provided hereunder and for a time period coincident with the event.
            </p>
        </div>
    </nz-content>
</nz-layout>