<div style="font-size: 12px; text-align: center;">
    <thead style="text-align: center;">
        <!--
        <span style="padding: 2px; text-align: center; font-size: 20px; font-weight: bold;">
            Voltaic Mining
            <span style="padding: 2px; text-align: center; font-size: 15px; font-weight:lighter">
                <a nzType="link" [href]="discord">Discord</a>
            </span>
        </span>
        -->
    </thead>
    <tbody>
    </tbody>
    <span style="padding: 2px; text-align: center; font-size: 20px; font-weight: bold;">
        Voltaic Mining
        <span style="padding: 2px; text-align: center; font-size: 15px; font-weight:lighter">
            <a nzType="link" [href]="discord">Support</a>
        </span>
    </span>
    <div style="padding: 2px; font-size: 9px;text-align: center;">
        Your access and use of the Services constitutes your agreement to be bound by these
        <a class="help-link" [routerLink]="EAppRoutes.Terms">
            Terms
        </a>
    </div>
    <div style="padding: 2px; font-size: 7px; font-weight:lighter;text-align: center;">
        GUI
        <a class="help-link" [href]="guiSource">
            {{guiVersion}}
        </a>
        Backend
        <a class="help-link" [href]="coreSource">
            {{coreVersion}}
        </a>

    </div>

</div>