<thead style="text-align: center;">
    <span style="padding: 2px; text-align: center; font-size: 22px; font-weight: bold;">
        {{ "math.head" | translate }}
    </span>
</thead>
<tbody>
    <br>

    <span style="padding: 2px; text-align: center; font-size: 14px; font-weight: bold;">
        {{ "math.modes2" | translate }}
        <!--
        <a nzType="link" (click)="onClick('ppdaln')">PPDALN+</a>
        {{ "math.modes.and" | translate }}
        <a nzType="link" (click)="onClick('ppda')">PPDA</a>.
        -->
    </span>

    <div style="font-size: 14px;">
        <span style="padding: 2px; text-align: center; font-size: 14px; font-weight: bold;">
            {{ "math.modes.PPDALN" | translate }}
        </span>
        <br>
        {{ "math.modes.PPDA.under" | translate }}
        <span style="font-weight: bold;">PPDALN+</span>
        {{ "math.modes.PPDALN.profits" | translate }}
        <span style="font-weight: bold;">VoltaicMining&trade;</span>
        {{ "math.modes.PPDALN.in.the.last" | translate }}
        <span style="font-weight: bold;">N</span>
        {{ "math.modes.PPDALN.rounds" | translate }}
        <br>
        {{ "math.modes.PPDALN.accepted.difficulty.is.calculated" | translate }}
        <br>
        {{ "math.modes.PPDALN.withPPDALN" | translate }}
        <span style="font-weight: bold;">PPDALN+</span>,
        {{ "math.modes.PPDALN.withPPDALN.miners.payout" | translate }}
        <br>
        {{ "math.modes.PPDALN.if.several.coins" | translate }}
        <br>
        {{ "math.modes.PPDALN.the.payment.network.fee" | translate }}
        <span style="font-weight: bold;">{{ "math.modes.PPDALN.the.payment.network.fee.deducted" | translate }}</span>.
        <br>
        {{ "math.modes.PPDALN.reward1" | translate }}
        <span style="font-weight: bold;">PPDALN+</span>
        {{ "math.modes.PPDALN.reward2" | translate }}
        <span style="font-weight: bold;">{{ ppdalnReward }}</span>
        {{ "math.modes.PPDALN.reward3" | translate }}
        <span style="font-weight: bold;">ETC: {{ etcReward }}</span>
        {{ "math.modes.PPDALN.etcreward1" | translate }}

        <!--
    {{ "math.modes.PPDALN.to.provide.mining.service" | translate }}
    <span style="font-weight: bold;">PPDALN+</span> 
    {{ "math.modes.PPDALN.to.provide.mining.service.mode" | translate }},
    <span style="font-weight: bold;">VoltaicMining&trade;</span>
    {{ "math.modes.PPDALN.to.provide.mining.service.charges" | translate }}
    <br>
    {{ "math.modes.PPDALN.the.following.fees" | translate }}
    <span style="font-weight: bold;">0.123456789%</span>
    {{ "math.modes.PPDALN.the.following.fees.for" | translate }}
-->
    </div>
    <br>

    <div style="font-size: 14px; padding: 13px,13px,13px; ">
        <!--
        <span style="padding: 2px; text-align: center; font-size: 14px; font-weight: bold;">
            {{ "math.modes.PPDA" | translate }}
        </span>
        <br>
        <span style="font-size: 14px; font-weight: bold;">
            {{ "math.modes.PPDA.at.the.moment1" | translate }}
            <br>
            {{ "math.modes.PPDA.at.the.moment2" | translate }}
            <span style="font-weight: bold;">BTC</span>
            {{ "math.modes.PPDA.at.the.moment.contact.us" | translate }}
        </span>
        <br>
        {{ "math.modes.PPDA.under" | translate }}
     <span style="font-weight: bold;">PPDA</span>,
    <span style="font-weight: bold;">VoltaicMining&trade;</span> 
    {{ "math.modes.PPDA.pays.the.miners" | translate }}
    <br>
    {{ "math.modes.PPDA.this.is.equivalent" | translate }}
    <br>
    {{ "math.modes.PPDA.the.work1" | translate }}
    <span style="font-weight: bold;">BTC</span>:
    {{ "math.modes.PPDA.the.work2" | translate }}
    <br>
    {{ "math.modes.PPDA.payment.rate" | translate }}
    <span style="font-weight: bold;">BTC</span>
    {{ "math.modes.PPDA.payment.rate.satoshi.and.evaluates" | translate }}
    <span style="font-weight: bold;"><a nzType="link" (click)="onClick('wiki')">20116567</a></span>,
    {{ "math.modes.PPDA.payment.rate.which.is.equivalent" | translate }}
    <span style="font-weight: bold;">{{ "math.modes.PPDA.payment.rate.which.is.equivalent.thpd" | translate }}</span>
    <br>
    {{ "math.modes.PPDA.in.the.beta" | translate }}
    <span style="font-weight: bold;">06:00 UTC</span>,
    {{ "math.modes.PPDA.in.the.beta.based.on" | translate }}
    <span style="font-weight: bold;">BTC</span> 
    {{ "math.modes.PPDA.in.the.beta.network.over" | translate }}
        <span style="font-weight: bold;">00:00 UTC </span>
        {{ "math.modes.PPDA.in.the.beta.network.over.to" | translate }}
        <span style="font-weight: bold;">23:59 UTC </span>).
    <br>
        
    {{ "math.modes.PPDA.subsequently" | translate }}
    <span style="font-weight: bold;">BTC</span> 
    {{ "math.modes.PPDA.subsequently.network" | translate }}
    <span style="font-weight: bold;">BTC</span> 
    {{ "math.modes.PPDA.subsequently.block" | translate }}
    <br>
-->
        <br>
        {{ "math.modes.сontact.us" | translate }}
        <br>
        <a nzType="link" (click)="onClick('discord')">Discord</a>
        <br>
        <span>email: {{ emailAddr }}</span>

    </div>



</tbody>