<nz-layout style="max-height: inherit;">
    <nz-header class="header">
        <a [routerLink]="EAppRoutes.Home">
            <app-logo></app-logo>
        </a>

        <div class="header-controls">
            <app-header-controls></app-header-controls>

            <!-- <a class="help-link" [routerLink]="EAppRoutes.Help">
                {{ "components.mainLayout.help" | translate }}
                <i nz-icon nzType="question-circle" nzTheme="outline"></i>
            </a> -->
            <a class="enter-link" [routerLink]="EAppRoutes.Monitoring">
                {{ "components.mainLayout.enterButton" | translate }}
            </a>
        </div>
    </nz-header>

    <nz-content style="padding: 5px 5px; ">
        <router-outlet></router-outlet>
    </nz-content>

    <nz-footer style="padding: 5px 5px;">
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>
